#welcome {
  .btn-bnativus {
    padding: 20px 50px;
    margin: 5px;
  }

  /* info */
  .info {
      padding: 70px 0;
      text-align: center;
      background: white;
  }

  /* how-it-works */
  #how-it-works {
    padding: 50px 0;
    .icon {
      color: white;
    }
  }

  .service-item {
      margin-bottom: 30px;
  }
}
