#welcome {
  width: 100%;
  height: 100%;

  .text-vertical-center {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      padding: 60px 0;
  }

  .btn {
    background-color: white;
    color: black;
    padding: 20px 50px;
    margin: 10px;
    border: 1px solid $green;
    &:hover{
      background-color: $green;
    }
  }
  /* info */

  .info {
      padding: 70px 0;
      text-align: center;
      background: white;
  }

  /* how-it-works */
  #how-it-works {
    padding: 50px 0;
    .icon {
      color: white;
    }
  }

  .service-item {
      margin-bottom: 30px;
  }
}
