#welcome {
  .btn {
    background-color: white;
    color: black;
    padding: 20px 50px;
    margin: 5px;
    border: 1px solid $green;
    &:hover{
      background-color: $green;
    }
  }

  /* info */
  .info {
      padding: 70px 0;
      text-align: center;
      background: white;
  }

  /* how-it-works */
  #how-it-works {
    padding: 50px 0;
    .icon {
      color: white;
    }
  }

  .service-item {
      margin-bottom: 30px;
  }
}
