<div class="container">
  <div class="container-default">
    <div class="row">
      <div class="col-lg-8">
        <h1>Article</h1>
      </div>
      <div class="col-lg-4">
        <%= link_to t('create_article'), new_article_url, class: 'float-right' %>
      </div>
    </div>
    <div class="row">
      <%= render partial: "shared/posting/posting_card", collection: @articles, as: :posting %>
    </div>
  </div>
</div>
