.room-card {
  .card{
    border-radius: 3%;
  }
  .card-body {
    padding: 15px;

    h4, h6 {
      margin: 15px 0;
    }

    hr {
      margin-top: 2rem;
    }

    .share-room {
      i {
        margin: 0 2px;
      }
    }

    .card-room-actions {
      margin-right: 12px;

      i {
        margin: 0 2px;
      }
    }

    .card-username{
      margin: 12px 0;
    }
  }
}
