<p id="notice"><%= notice %></p>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h1 class="my-4">Shop Name</h1>
      <div class="list-group">
        <a href="#" class="list-group-item">Minhas Salas</a>
        <a href="#" class="list-group-item">Debates</a>
        <a href="#" class="list-group-item">Posts</a>
        <!-- <a href="#" class="list-group-item">Estatisticas</a> -->
      </div>
    </div>
    <!-- /.col-lg-3 -->
    <div class="col-lg-9">
      <div class="last-rooms">
        <h2> Ultimas salas </h2>
        <%= link_to 'Criar nova sala', new_room_url %>
      </div>
      <div class="row">
        <%= render partial: "shared/room_card", collection: @rooms, as: :room %>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.col-lg-9 -->
  </div>
  <!-- /.row -->
</div>
