<div class="container container-default">
  <div id="main-error">
    <i class="fa fa-times-circle fa-5x" aria-hidden="true"></i>
    <h1>We're sorry, but something went wrong.</h1>
    <h2>Try that again later, and if it still doesn't work, let us know</h2>
  </div>
</div>
