.margtop10 {
  margin-top: 10px;
}

.margtop20 {
  margin-top: 20px;
}

.margtop40 {
  margin-top: 40px;
}

.margtop60 {
  margin-top: 60px;
}

.margtop80 {
  margin-top: 80px;
}

.margleft5 {
  margin-left: 5px;
}

.margleft10 {
  margin-left: 10px;
}

.margbottom10 {
  margin-bottom: 10px;
}

.margbottom20 {
  margin-bottom: 20px;
}

.margbottom40 {
  margin-bottom: 40px;
}

.margbottom60 {
  margin-bottom: 60px;
}

.margbottom80 {
  margin-bottom: 80px;
}

.no-padding {
  padding: 0px !important;
}
