.no-padding {
  padding: 0px !important;
}

.no-padding-left {
  padding-left: 0px !important;
}

.no-padding-right {
  padding-right: 0px !important;
}

.no-marging{
  margin: 0px !important;
}

.margin-auto {
  margin: auto;
}
