// Color
$light-grey: #F7F7F7;
$mid-grey: rgba(114, 112, 112, 0.38);
$dark-grey: rgba(2, 2, 2, 0.52);

$light-blue: rgba(98, 157, 222, 0.95);
$dark-blue: rgba(38, 103, 175, 0.95);

$green: rgba(51, 220, 25, 0.77);
$dark-green: rgba(56, 109, 29, 0.94);

$red: rgba(222, 57, 57, 0.92);

//Typography
$font-small: 12px;
$font-tiny: 14px;
$font-default: 16px;
$font-medium: 22px;
$font-medium-x: 26px;
$font-big: 32px;
$font-extra-big: 60px;

//Units config
$rem-base: $font-default;

//Buttons
$btn-default-padding: 15px;
$btn-tab-padding: 20px;

//Forms
$input-height: 45px;

//Icons
$notice-icon-size: 84px;

//Devices
$screen-xs-max: 767px;
