// Color
$light-black: rgb(38, 38, 38);
$black: rgb(25, 25, 25);
$black-shadow: rgba(25, 25, 25, .6);
$light-grey: rgb(230, 230, 230);
$mid-grey: rgb(152, 152, 152);
$dark-grey: rgb(61, 51, 54);
$silver: rgb(185, 185, 185);

$yellow: rgb(234, 207, 64);
$dark-yellow: rgba(191, 137, 43, 0.94);
$blue: rgba(32, 118, 212, 0.95);

//Typography
$font-tiny: 14px;
$font-default: 16px;
$font-small: 12px;
$font-medium: 22px;
$font-medium-x: 26px;
$font-big: 32px;
$font-extra-big: 60px;

//Units config
$rem-base: $font-default;

//Buttons
$btn-default-padding: 15px;
$btn-tab-padding: 20px;

//Forms
$input-height: 45px;

//Icons
$notice-icon-size: 84px;

//Devices
$screen-xs-max: 767px;
