<div class="index-rooms">
  <div class="row container-default">
    <div class="last-rooms">
      <h1>Rooms</h1>
      <%= link_to 'Criar nova sala', new_room_url %>
    </div>
    <div class="row">
      <%= render partial: "shared/room_card", collection: @rooms, as: :room %>
    </div>
  </div>
</div>
