.room-card {
  .card{
    border-radius: 3%;
    &:hover {
      border-color: $light-blue;
      transition: all 0.30s ease-in-out;
    }
  }

  .btn {
    color: white;
    &:hover{
      transition: all 0.30s ease-in-out;
      background-color: $dark-blue;
    }
  }

  .card-body {
    padding: 15px;
    .card-created-at {
      font-size: 12px;
      color: $mid-grey;
    }
    h4, h6 {
      margin: 15px 0;
    }
    hr {
      margin-top: 2rem;
    }
    .share-room {
      i {
        margin: 0 2px;
      }
    }
    .card-room-actions {
      margin-right: 12px;
      i {
        margin: 0 2px;
      }
    }

    .card-username{
      margin: 12px 0;
    }
  }
}
